* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notification-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
}
